body {
  font-family: Arial;
  background: #111;
  color: white;
  margin: 0;
}

nav {
  display: flex;
  gap: 20px;
  padding: 15px;
  background: #222;
}

a {
  color: cyan;
  text-decoration: none;
}

.card {
  background: #222;
  padding: 20px;
  max-width: 320px;
  margin: 40px auto;
  border-radius: 8px;
}

input, button {
  width: 100%;
  margin: 8px 0;
  padding: 10px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px,1fr));
  gap: 20px;
  padding: 20px;
}

.error {
  color: red;
}
